<div class="comments-wrap">

  <div id="comments" class="row">
    <div class="col-full">

      <h3><%= article.comment_count %></h3>

     <!-- commentlist -->
     <ol class="commentlist">

       <% comments.each do |comment| %>
         <% commenter = comment.user %>
          <li class="depth-1 comment">

            <div class="comment__avatar">
              <%= image_tag commenter.avatar.url, height: 50, width: 50, class: "avatar" %>
            </div>

            <div class="comment__content">

              <div class="comment__info">
                <cite><%= commenter.full_name %></cite>

                <div class="comment__meta">
                  <time class="comment__time"><%= comment.creation_time %></time>
                </div>
              </div>

              <div class="comment__text">
                <p><%= comment.message %></p>
              </div>

            </div>

          </li>
        <% end %>

      </ol> <!-- Commentlist End -->

     <!-- respond -->
     <div class="respond">

      <h3>Leave a Comment</h3>
      <% if user_signed_in? %>

        <div class="comment__avatar">
            <%= image_tag current_user.avatar, height: 50, width: 50, class: "avatar" %>
            <cite><%= current_user.full_name %></cite>
        </div>

        <form name="contactForm" id="contactForm" method="post" action="">
          <fieldset>

          <div class="message form-field">
          <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
          </div>
            <button type="submit" class="submit btn--primary">Submit</button>
          </fieldset>
        </form> <!-- Form End -->

      <% else %>

        <%= render "shared/login_modal" %>

        <a data-remodal-target="modal">
          <form name="contactForm" id="contactForm" method="post" action="">
            <fieldset>

            <div class="message form-field">
            <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message" disabled></textarea>
            </div>

            </fieldset>
          </form> <!-- Form End -->
        </a>
      <% end %>
      </div> <!-- Respond End -->

    </div> <!-- end col-full -->
  </div> <!-- end row comments -->
</div> <!-- end comments-wrap -->
