<div class="comments-wrap">

  <div id="comments" class="row">
    <div class="col-full">

     <%= render "articles/comments/comment_list" %>

     <!-- respond -->
     <div class="respond">

      <h3>Leave a Comment</h3>
      <% if user_signed_in? %>

        <div class="user-box">
          <div>
            <%= image_tag current_user.avatar, height: 50, width: 50, class: "user-box__avatar" %>
          </div>
          <div class="user-box__info">
            <div class="user-box__name">
              <cite><%= current_user.full_name %></cite>
            </div>
            <div class="user-box__logout">
              <%= link_to "Logout", destroy_web_user_session_path(), method: :post %>
            </div>
          </div>

        </div>

        <%= render "articles/comments/comment_form" %>

      <% else %>

        <%= render "shared/login_modal" %>

        <a data-remodal-target="modal">
          <form name="contactForm" id="contactForm" method="post" action="">
            <fieldset>

            <div class="message form-field">
              <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message" disabled></textarea>
            </div>

            </fieldset>
          </form> <!-- Form End -->
        </a>
      <% end %>
      </div> <!-- Respond End -->

    </div> <!-- end col-full -->
  </div> <!-- end row comments -->
</div> <!-- end comments-wrap -->
