<%= render "shared/header" %>

<% if @articles.any? %>
  <%= render "blog_list_hero", articles: @articles %>

  <section class="blog-content-wrap">

    <div class="row blog-content">
      <div class="col-full">

        <div class="blog-list block-1-2 block-tab-full">

          <% @articles.each do |article| %>
            <article class="col-block">

              <div class="blog-date">
                <a href="blog-single.html"><%= article.published_date %></a>
              </div>

              <h2 class="h01">
                <%= link_to article.title, article_path(article.slug) %>
              </h2>
              <p><%= article.summary %></p>

              <div class="blog-cat">
                <% article.tags.each do |tag| %>
                  <a href="#"><%= tag %></a>
                <% end %>
              </div>

            </article>
          <% end %>

        </div> <!-- end blog-list -->

      </div> <!-- end col-full -->
    </div> <!-- end blog-content -->

    <%= render "pagination", current_page: @current_page, per_page: @per_page, total_articles: @total_articles %>
  </section>

<% else %>
    <%= render "no_articles" %>
<% end %>

<%= render "shared/footer" %>
