<body id="top">
  <%= render "shared/header" %>
  <article class="blog-single">
    <%= render "blog_hero" %>
    <%= render "blog_content" %>
    <% if article.comments_permitted %>
      <%= render "comments_section" %>
    <% end %>
  </article>

  <%= render "shared/footer" %>
</body>
