 <meta charset="utf-8">
 <title><%= t('meta.title') %></title>
 <meta name="google-site-verification" content="<%= ENV['GOOGLE_DOMAIN_VERIFICATION'] %>"/>
 <meta name="description" content="<%= t('meta.description') %>">
 <meta name="keywords" content="<%= t('meta.keywords') %>">
 <meta name="author" content="<%= t('meta.author') %>">
 <meta name=”distribution” content="<%= t('meta.distribution') %>"/>
 <meta name="viewport" content="<%= t('meta.viewport') %>">
 <%# TODO, Add OGP %>
