<footer>
  <div class="row">
    <div class="col-full">

      <div class="footer-logo">
        <%= link_to image_tag("avatar.png"), root_path(), class: "footer-site-logo" %>
      </div>

      <ul class="footer-social">
        <li><a href="<%= t('social.github') %>">
          <i class="im im-github" aria-hidden="true"></i>
          <span>Github</span>
        </a></li>
        <li><a href="<%= t('social.twitter') %>">
          <i class="im im-twitter" aria-hidden="true"></i>
          <span>Twitter</span>
        </a></li>
        <li><a href="<%= t('social.instagram') %>">
          <i class="im im-instagram" aria-hidden="true"></i>
          <span>Instagram</span>
        </a></li>
        <li><a href="<%= t('social.linkedin') %>">
          <i class="im im-linkedin" aria-hidden="true"></i>
          <span>Linkedin</span>
        </a></li>
      </ul>

    </div>
  </div>

  <div class="row footer-bottom">

    <div class="col-twelve">
      <div class="go-top">
      <a class="smoothscrolltop" title="Back to Top" href=""><i class="im im-arrow-up" aria-hidden="true"></i></a>
      </div>
    </div>

  </div> <!-- end footer-bottom -->
</footer> <!-- end footer -->
