<header class="s-header">

  <div class="header-logo">
    <a class="site-logo" href="index.html"><%= image_tag "logo.png" %></a>
  </div>

  <nav class="header-nav-wrap">
    <ul class="header-nav">
      <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
      <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
      <li><a class="smoothscroll"  href="#testimonials" title="testimonials">Testimonials</a></li>
      <li><a class="smoothscroll"  href="#blog" title="blog">Blog</a></li>
      <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
    </ul>
  </nav>

  <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header>

<%= render "hero_image" %>
<%= render "about_section" %>
<%= render "testimonials" %>
<%= render "latest_articles_section" %>
<%= render "stats" %>
<%= render "contact" %>

  <!-- footer
  ================================================== -->
  <footer>
      <div class="row">
          <div class="col-full">

              <div class="footer-logo">
                  <a class="footer-site-logo" href="#0"><%= image_tag "avatar.png", alt: "Home Page" %></a>
              </div>

              <ul class="footer-social">
                  <li><a href="<%= t('social.github') %>">
                      <i class="im im-github" aria-hidden="true"></i>
                      <span>Github</span>
                  </a></li>
                  <li><a href="<%= t('social.twitter') %>">
                      <i class="im im-twitter" aria-hidden="true"></i>
                      <span>Twitter</span>
                  </a></li>
                  <li><a href="<%= t('social.instagram') %>">
                      <i class="im im-instagram" aria-hidden="true"></i>
                      <span>Instagram</span>
                  </a></li>
                  <li><a href="<%= t('social.linkedin') %>">
                      <i class="im im-linkedin" aria-hidden="true"></i>
                      <span>Linkedin</span>
                  </a></li>
              </ul>

          </div>
      </div>

      <div class="row footer-bottom">

          <div class="col-twelve">
              <div class="go-top">
              <a class="smoothscroll" title="Back to Top" href="#home"><i class="im im-arrow-up" aria-hidden="true"></i></a>
              </div>
          </div>

      </div> <!-- end footer-bottom -->
  </footer> <!-- end footer -->


  <!-- photoswipe background
  ================================================== -->
  <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">

          <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
          </div>

          <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                  <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                  "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                  "Zoom in/out"></button>
                  <div class="pswp__preloader">
                      <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                              <div class="pswp__preloader__donut"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                  <div class="pswp__share-tooltip"></div>
              </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
              "Next (arrow right)"></button>
              <div class="pswp__caption">
                  <div class="pswp__caption__center"></div>
              </div>
          </div>

      </div>

  </div><!-- end photoSwipe background -->

  <div id="preloader">
      <div id="loader"></div>
  </div>
